/* TAG ELEMENTS */

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

/* ID ELEMENTS */

#body {
  height: 500px;
}

#searchResults {
   display: none;
   height: 500px;
   overflow: auto;
}

#addIcon {
  height: 32px;
  width: 32px;
}

#itemList {

}

#searchBox {
  height: 25px;
  width: 300px;
  margin-right: 100px;
}

/* CLASS ELEMENTS */

.item-icon {
  height: 50px;
  width: 50px;
  display: inline-block;
}

.list-group-item {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.searchResultDiv {
   padding-top: 5px;
   padding-bottom: 5px;
}

.searchResultImage {
   height: 40px;
   width: 40px;
   padding-right: 10px;
}

.searchResultText {
  font-size: 16px;
}

.searchResultPath {
  font-size: 10px;
  text-overflow: ellipsis;
}
