<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Open+Sans+Condensed:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="addItemWindow.css">

    <script src="addItemWindow.js"></script>
</head>
<body>

    <button id="selectShortcutPath" onclick="selectShortcutPath()">Browse..</button>
    <span id="shortcutPathText">Select a shortcut (lnk)  </span>
    <br>
    <button id="selectIconPath" onclick="selectIconPath()">Browse..</button>
    <span id="iconPathText">Select an icon (png)  </span>
    <img id="image">
    <br>
    <input type="text" id="nameInput"></input>
    <span id="nameLabel">Name </span>
    <br><br>
    <button id="addItem" onclick="addItem()">Add Item</button>

</body>
</html>
